body {
    background-color: rgb(250, 250, 250);
    margin: auto;
    overflow-x: hidden;
}

.top_head {
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: rgb(192, 162, 162);
    color: aliceblue;
    font-family: cursive;
    font-size: 3vw;
    text-align: center;
}

.product {
    background-color: #eee;
    width: 100%;
    height: auto;
    margin-left: 0px;
    text-align: center;
    border: 2px solid rgb(150, 150, 167);
    border-right: none;
    border-bottom: none;
    display: inline-block;
}

.product h2 {
    font-size: 2vw;
}

.pro_img {
    width: 40%;
    height: auto;
}

.pro_img img {
    width: 65%;
    height: auto;
    margin: 10px;
}

.discription {
    width: 50%;
    height: auto;
    float: right;
    text-align: left;
}

.pro_img,
.discription {
    display: inline-block;
    margin: 50px 0px;
}

.discription p {
    font-size: 1.5vw;
}

.footer {
    width: 100%;
    height: auto;
    background: #000;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    overflow: hidden;
    text-align: center;
}

.footer b {
    font-size: 1.5vw;
}

.footer p {
    font-size: 1vw;
}